body {
  background-color: plum;
}
div.form3 {
  background: url(/img/831401.jpg) center;
  background-repeat: no-repeat;
  height: 1200px;
}

form {
  width: 40%;
  margin: auto;
}

.div1 div {
  margin-top: 40px;
}
input {
  width: 100%;
}
.button2 {
  text-align: center;
  margin-top: 40px;
}

label {
  color: black;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  color: palevioletred;
}

.container {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.book {
  width: 300px;
  height: 400px;
  background-color: purple;
}
nav{
  width:100%

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  ;
}
