# activer la regle de reecriture d'url
RewriteEngine on
# on verifie si la requete correspond a un repertoire
RewriteCond ${REQUEST_FILENAME} !d
# on verifie si la requete correspond a un fichier
RewriteCond ${REQUEST_FILENAME} !f
RewriteRule (.*) index.php/$1 [L]